#animalImg {
	width: 30%;	
} 

#acceptModal {
    font-family: Arial, Helvetica, 'sans-serif';
    text-align: center; 
    border-radius: 40px;
    z-index:2000;
}


.modal-footer .btn {	
    border-radius: 40px;
}
.modal-default .btn {
	border-radius: 40px;
	color: #333333;
    background-color: #ffffff;
    border-color: #cccccc;
}

.modal {
    margin-top: 100px;
}

.modal-dialog {
	width: 400px;
    font-family: Arial, Helvetica, 'sans-serif';
    text-align: center; 
    border-radius: 40px;  
    z-index:2000;
}

.modal-content {
	border-radius: 40px; 
	font-size: 30px;
	
	
}

.modal-body {       
    border-radius: 40px;
    text-align: center;
    z-index: 1100;

}
.modal-body h1{
     margin: 0 0 0 0;
 }

.modal-footer {       
    text-align: center;
}

#acceptModal .modal-dialog .modal-footer .btn{
    width: 90px;
}

.animalQuest .modal-dialog .modal-body h1 {
    font-size: 20px;
}

.animalQuest .modal-dialog .modal-body .btn {
    text-align: left;
    width: 90%;
}
.animalQuest .modal-dialog .modal-footer .btn {
    width: 90%;
}
.modal-title{
    font-weight: bold;
    font-size: 24px;
}