 #menu li {
	display:inline-block;
	margin: 0px;
	padding: 0px;
	color: #4A4A4A;
	background:#fff;
	background: rgba(255,255,255, 0.5);
	font-family: 'Roboto', Helvetica, Arial, sans-serif;
	font-size: 1.4em;
	line-height: 1.5em;
}
#menu li.active{
	background: rgba(255,255,255, 0.8);
	color: #fff;
}
#menu li a{
	text-decoration:none;
	color: #4A4A4A;
}
#menu li.active a:hover{
	color: #4A4A4A;
}
#menu li:hover{
	background: rgba(255,255,255, 0.8);
}
#menu li a,
#menu li.active a{
	padding: 9px 18px;
	display:block;
}
#menu li.active a{
	color: #4A4A4A;
}
#menu{
	position:fixed;
	top:22px;
	right:40px;
	z-index: 70;
	padding: 0;
	margin:0;
	border: 1px solid #B6E7FF;
	-webkit-border-radius: 8px;
    border-radius: 8px;
    overflow: hidden;
}

#logo
{
	position: fixed;
	top: 18px;
	left: 29px;
}

p
{
	font-family: 'Roboto', Helvetica, Arial, sans-serif;
	color: white;
	font-size: 1.4em;
	line-height: 1.5em;
}

h1
{
	font-size: 2.5em;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	font-family: 'Paytone One', 'Roboto', Helvetica, Arial, sans-serif;
}

.section h1
{
	position: relative;
	top: 20px;
	left: 55px;
	color: white;
}

.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.5);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog > div {
	width: 500px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
}

.close {
	color: #080808;
	line-height: 25px;
	position: absolute;
	right: 15px;
	text-align: center;
	top: 20px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
}

.close:hover { 
	text-decoration: underline;
	color: #040404;
}

h2
{
	font-family: 'Paytone One', 'Roboto', Helvetica, Arial, sans-serif;
	font-size: 2em;
	color: white;
}

.section h2
{
	padding: 20px;
	margin: 0 auto;
	text-align: center;
}

.section .button 
{
	padding: 20px;
	margin: 0 auto;
	width: 171px;
	background: #FE9D07;
	border-radius: 8px;
	text-align: center;
}
.section .button a
{
	font-family: 'Roboto', Helvetica, Arial, sans-serif;
	color: white;
	font-size: 1.4em;
	line-height: 1.5em;
}
#parrot
{
    position: relative;
    top: -20px;
    left: 30px;
}
#frog
{
    position: absolute;
    bottom: 40px;
    left: 60px;
}
#wombat
{
    position: absolute;
    right: 20px;
    bottom: 40px;
}
#sun
{
	position: relative;
	top: 20px;
	left: 50%;
}
#trove
{
	display: block;
    position: relative;
    width: 140px;
    left: 40px;
    top: 20px;
}
#wikipedia
{
    position: relative;
    display: block;
    left: 100px;
    width: 200px;
    top: 50px;
}
#wiki
{
    display: block;
    position: relative;
    width: 70px;
    left: 20px;
    top: 80px;
}
#queensland
{
	right: 10px;
    top: 10px;
    width: 120px;
    position: relative;
    float: right;
}

.member
{
	display: inline-block;
	width: 20%;
	clear: none;
	margin: 2%;
}
.member img
{
	width: 80%;
	height: 80%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}
.member span
{
	color: white;
	text-align: center;
	display: block;
	font-family: 'Roboto', Helvetica, Arial, sans-serif;
	color: white;
	font-size: 1.4em;
	line-height: 1.5em;
}
#section3 .content
{
	position: relative;
	width: 100%;
	height: 100%;
}
#section3 .content .foot
{
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 80px;
	background-color: #C18CD7;
	vertical-align: center;
}

#section3 .foot h2
{
	display: inline-block;
	margin: 1px;
	padding: 5px;
	margin-right:200px;
}
#section3 .foot .button
{
	position: absolute;
	margin: 5px;
	padding: 12px;
	right: 15px;
	bottom: 13px;
}

.desc
{
    width: 50%;
    padding-left: 70px;
    padding-top: 100px;
    display: block;
    float: left;
    color: white;
    height: 100%;
}

.desc li
{
	font-family: 'Roboto', Helvetica, Arial, sans-serif;
	color: white;
	font-size: 1.4em;
	line-height: 1.5em;
}

.desc h1
{
	margin-bottom: 40px;
}

.pict
{
    padding-top: 100px;
    padding-right: 60px;
    width: 50%;
    height: 100%;
    float: left;
    display: block;
}

#platypus
{
	width: 45%;
	right: 5px;
	bottom: 5px;
}

.pict img
{
	width: 45%;
	max-height: 45%
}

.slide:last-of-type
{
	background-image: url("../images/login/bg.png");
    background-repeat: no-repeat;
    background-clip: border-box;
    background-position: center bottom;
    background-size: 2000px;
}

.btn{
	width: 100%;	
}
