h1 {
	font-family: 'Paytone One', "Roboto", Helvetica, Arial, sans-serif;
	margin-bottom: 30px;
}

h3 {
	font-size: 1.3em;
}

h2 {
	font-family: 'Paytone One', "Roboto", Helvetica, Arial, sans-serif;
	font-size: 1.5em;
	color: #EBA361;
}

.modal-title {
	font-family: 'Paytone One', "Roboto", Helvetica, Arial, sans-serif;
	font-size: 2em;
	color: #D68533;
}

.modal-footer p{
	text-align: left;
}

body {
	background-image: url('../images/grass-bg.png');
	background-repeat: repeat;
	background-color: #8CC624;
}

p, li {
	font-size: 1.3em;
	line-height: 1.5em;
}

.exp {
	font-family: 'Paytone One', "Roboto", Helvetica, Arial, sans-serif;
	text-align: center;
	color: #FFCC00;
	font-size: 1.2em;
}

.glyphicon .glyphicon-star {
	color: #fff;
}

.thumbnail {
	background-color: transparent;
	border: none;
}

.caption {
	background-color: #D68533;
	margin-top: 10px;
	border: 5px ridge #EBA361;
}

.caption h3 {
	margin-top: 5px;
	text-align: center;
	color: #FFF;
	font-weight: bold;
	font-size: 1.5em;
}

.modal-dialog {
	width: 85%;
	height: 80%;
	margin:5% auto;
}

.modal-body {
	max-height: 600px;
}

.modal-content {
	height: 100%;
	overflow: auto;
}

.modal-discovery {
	width:500px;
	max-width: 70%;
}

.img-small {
	max-width: 200px;
	margin-right: 30px;
}

.img-unknown {
	opacity: 0.5;
}

.img-thumb {
	max-width: 100%;
	height: 120px;
	margin: 10px 0;
}

