body {
	background-color: #71c0df;
	margin: auto;
	background-image: url('../images/collection-bg.png');
	background-size: cover;
}

h1 {
	font-family: 'Paytone One', "Roboto", Helvetica, Arial, sans-serif;
	text-align: center;
	margin: auto;
	margin-bottom: 30px;
	color: #fff;
	text-transform: uppercase;
	font-size: 2.5em;
	letter-spacing: 0.1em;
	text-shadow: 2px 2px rgba(0,0,0,0.15);
}

h2 {
	font-family: 'Paytone One', "Roboto", Helvetica, Arial, sans-serif;
	font-size: 2em;
	color: #81cc33;
}

h3 {
	font-family: 'Paytone One', "Roboto", Helvetica, Arial, sans-serif;
	font-size: 1.5em;
	color: #ff9d00;
}

p {
	font-family: "Roboto", Helvetica, Arial, sans-serif;
	font-size: 1.4em;
	line-height: 1.5em;
}
p, li {
	font-size: 1.3em;
	line-height: 1.5em;
}


/*************  MODAL STYLING  *************/

.modal-dialog {
	width: 85%;
	height: 80%;
	margin: 5% auto;
}
.modal-body {
	max-height: 600px;
	padding-top: 0;
}
.modal-content {
	height: 100%;
	overflow: auto;
}
.modal-discovery {
	width:500px;
	max-width: 70%;
}
.modal-footer p{
	text-align: left;
}

/*************  CAPTIONS  *************/
.smlCaption {
	font-size: 0.8em;
}
.caption {
	background-color: #FFF;
	margin-top: -25px;
	border: 5px solid #54CAED;
	border-radius: 25px;
}

.caption h3 {
	margin-top: 20px;
	font-family: 'Paytone One', "Roboto", Helvetica, Arial, sans-serif;
	text-align: center;
	color:#FF9D00; 
	font-weight: bold;
	font-size: 1.3em;
	word-wrap: break-word;
}
.exp {
	font-family: 'Paytone One', "Roboto", Helvetica, Arial, sans-serif;
	text-align: center;
	color: #FF9D00;
	font-size: 1.2em;
}
.glyphicon .glyphicon-star {
	color: #fff;
}

/*************  IMAGES  *************/
.img-small {
	max-width: 200px;
	margin-right: 30px;
}
.img-unknown {
	opacity: 0.5;
}
.img-thumb {
	max-width: 100%;
	height: 120px;
	margin: 10px 0 20px 0;
}
.thumbnail {
	background-color: transparent;
	border: none;
}



