/* Background image */ 
#wrapper {
	border: 1px solid #c7c7c7;
	margin: 0 auto;
	width: 100%;
	height: 1215px;
	position: relative;
	background: url(../images/terrain3/sea.png) repeat;
	overflow: hidden;
}
#mainRoad{
	z-index: -1;
	left:40px;
	right:40px;
}
/* ==== OBJECTS BELOW ====*/

/* Rocks Objects */
#rockHeaderLeft {
	background: url(../images/terrain3/rock1.png) repeat;
	background-size: auto 100%;
	width: 37%;
	height: 40px;
	top: 0px;
	left: 50px;
}
#rockLeft {
	background: url(../images/terrain3/rock1.png) repeat;
	background-size: 100%;
	width: 40px;
	height: 1512px;
	top: 0px;
	left: 0px;
}


#rockLeft1 {
	background: url(../images/terrain3/rock1.png) repeat;
	background-size: auto 100%;
	width: 30%;
	height: 40px;
	top: 50px;
	left: 50px;
}
#rockLeft2 {
	background: url(../images/terrain3/rock1.png) repeat;
	background-size: auto 100%;
	width: 28%;
	height: 35px;
	top: 100px;
	left: 40px;
}

#rockFooterLeft {
	background: url(../images/terrain3/rock1.png) repeat;
	background-size: auto 100%;
	width: 47%;
	height: 40px;
	top: 1175px;
	left: 50px;
}

#rockHeaderRight {
	background: url(../images/terrain3/rock1.png) repeat;
	background-size: auto 100%;
	width: 37%;
	height: 40px;
	top: 0px;
	right: 50px;
}
#rockRight {
	background: url(../images/terrain3/rock1.png) repeat;
	background-size: 100%;
	width: 40px;
	height: 1512px;
	top: 0px;
	right: 0px;
}
#rockRight1 {
	background: url(../images/terrain3/rock1.png) repeat;
	background-size: auto 100%;
	width: 30%;
	height: 40px;
	top: 50px;
	right: 50px;
}
#rockRight2 {
	background: url(../images/terrain3/rock1.png) repeat;
	background-size: auto 100%;
	width: 28%;
	height: 35px;
	top: 100px;
	right: 40px;
}
#rockRight3 {
	background: url(../images/terrain3/rock1.png) repeat;
	background-size: auto 100%;
	width: 55px;
	height: 40px;
	top: 400px;
	right: 400px;
}

#rockFooterRight {
	background: url(../images/terrain3/rock1.png) repeat;
	background-size: auto 100%;
	width: 47%;
	height: 40px;
	top: 1175px;
	right: 50px;
}

.rockBorder{
	position: absolute;
	z-index: 56;
}

/* Cave objects */
#cave1 {
	background: url(../images/terrain3/cave.png);
	background-size: auto 100%;
	width: 55px;
	height: 55px;
	top: 600px;
	right: 340px;
}

#cave2 {
	background: url(../images/terrain3/cave.png);
	background-size: auto 100%;
	width: 55px;
	height: 55px;
	top: 400px;
	left: 240px;
}



#cave01 {
	background: url(../images/terrain3/cave01_01.png);
	background-size: 100%;
	width: 100px;
	height: 20px;
	top: 635px;
	right: 440px;
	
}

#cave02 {
	background: url(../images/terrain3/cave01_02.png);
	background-size: 100%;
	width: 100px;
	height: 165px;
	top: 655px;
	right: 440px;

}


#cave03 {
	background: url(../images/terrain3/cave01_03.png);
	background-size: 100%;
	width: 100px;
	height: 30px;
	top: 820px;
	right: 440px;
	z-index: 500;
	
}



/* Shells Objects */
#shell1 {
	background: url(../images/terrain3/shell1.png) repeat;
	background-size: 100%;
	width: 30px;
	height: 90px;
	top: 230px;
	left: 200px;
}
#shell2 {
	background: url(../images/terrain3/shell2.png) repeat;
	background-size: 100%;
	width: 30px;
	height: 90px;
	top: 280px;
	left: 150px;
}
#shell3 {
	background: url(../images/terrain3/shell3.png) repeat;
	background-size: 100%;
	width: 30px;
	height: 90px;
	top: 330px;
	left: 100px;
}

/* Rocks Objects */
#rock1 {
	background: url(../images/terrain3/rock1.png) repeat;
	background-size: 100%;
	width: 35px;
	height: 550px;
	top: 140px;
	left: 300px;
}
#rock2 {
	background: url(../images/terrain3/rock1.png) repeat;
	background-size: 100%;
	width: 35px;
	height: 250px;
	top: 400px;
	left: 200px;
}
#rock3 {
	background: url(../images/terrain3/rock1.png) repeat;
	background-size: 100%;
	width: 35px;
	height: 600px;
	top: 320px;
	right: 300px;
}

#rock4 {
	background: url(../images/terrain3/rock1.png) repeat;
	background-size: auto 100%;
	width: 300px;
	height: 35px;
	top: 320px;
	right: 340px;
}

#rock5 {
	background: url(../images/terrain3/rock1.png) repeat;
	background-size: auto 100%;
	width: 300px;
	height: 35px;
	top: 450px;
	left: 335px;
}

#rock6 {
	background: url(../images/terrain3/rock1.png) repeat;
	background-size: auto 100%;
	width: 200px;
	height: 35px;
	top: 600px;
	right: 435px;
}

#rock7 {
	background: url(../images/terrain3/rock1.png) repeat;
	background-size: auto 100%;
	width: 465px;
	height: 35px;
	top: 850px;
	right: 435px;
}

#rock8 {
	background: url(../images/terrain3/rock1.png) repeat;
	background-size: 100%;
	width: 35px;
	height: 395px;
	top: 600px;
	right: 400px;
}

#rock9 {
	background: url(../images/terrain3/rock2.png);
	background-size: 100%;
	width: 50px;
	height: 45px;
	top: 220px;
	left: 90px;
	
}

/* Long Grass Objects */
#longGrass1{
	background: url(../images/terrain3/grass.png) repeat;
	background-size: 10% auto;
	width: 200px;
	height: 535px;
	top: 165px;
	right: 70px;
	z-index: 20;
}

#longGrass2{
	background: url(../images/terrain1/grass.png) repeat;
	background-size: 10% auto;
	width: 200px;
	height: 200px;
	top: 900px;
	right: 70px;
	z-index: 20;
}
/* Ferry Objects */
#ferry1{
	background: url(../images/terrain3/ferry.png) repeat;
	background-size: 100%;
	width: 150px;
	height: 85px;
	top: 730px;
	right: 90px;
	z-index: 100;
}

#ferry2{
	background: url(../images/terrain3/ferry.png) repeat;
	background-size: 100%;
	width: 150px;
	height: 85px;
	top: 730px;
	right: 90px;
	z-index: 100;
}

/* Bush Objects */
.forest {
	position: absolute;
	left: 0;
	background: url(../images/terrain2/rf-bg.png) repeat;
	width: 100%;
	z-index: 201;
}

#startRainForest {
	top: 0;
	height: 100px;
}

/* Terrain transitions */
#terrain2 {
	position: absolute;
	left: 50%;
	width: 210px;
	background: url(../images/terrain2/rf-path-middle.png);
	background-size: 100%;
	margin: 0 0 0 -105px;
	z-index: 52;
	top: 0px;
	height: 100px;
}