/* Background image */ 
#wrapper {
	border: 1px solid #c7c7c7;
	margin: 0 auto;
	width: 100%;
	height: 1620px;
	position: relative;
	background: url(../images/terrain2/rf-bg.png) repeat;
	overflow: hidden;
}

/* ==== OBJECTS BELOW ====*/

#mainRoad {
	position:absolute;
	width:auto;
	height: 100%;
	left:64px;
	right:64px;
	top  :0px;	
	background: url(../images/terrain2/rf-bg.png) repeat;	
	margin:0 0 0 0;	
}

/* Trees Objects */
#treeHeaderLeft {
	background: url(../images/terrain2/tree-1.png) repeat;
	background-size: auto 100%;
	width: 37%;
	height: 80px;
	top: 0px;
	left: 50px;
}
#treeLeft {
	background: url(../images/terrain2/tree-1.png) repeat;
	background-size: 100%;
	width: 40px;
	height: 1512px;
	top: 0px;
	left: 0px;
}


#treeLeft1 {
	background: url(../images/terrain2/tree-1.png) repeat;
	background-size: auto 100%;
	width: 30%;
	height: 80px;
	top: 60px;
	left: 70px;
}
#treeLeft2 {
	background: url(../images/terrain2/tree-1.png) repeat;
	background-size: auto 100%;
	width: 25%;
	height: 80px;
	top: 120px;
	left: 46px;
}

#treeFooterLeft {
	background: url(../images/terrain2/tree-1.png) repeat;
	background-size: auto 100%;
	width: 37%;
	height: 70px;
	top: 1440px;
	left: 64px;
}

#treeHeaderRight {
	background: url(../images/terrain2/tree-1.png) repeat;
	background-size: auto 100%;
	width: 37%;
	height: 70px;
	top: 0px;
	right: 50px;
}
#treeRight {
	background: url(../images/terrain2/tree-1.png) repeat;
	background-size: 100%;
	width: 40px;
	height: 1512px;
	top: 0px;
	right: 0px;
}
#treeRight1 {
	background: url(../images/terrain2/tree-1.png) repeat;
	background-size: auto 100%;
	width: 30%;
	height: 80px;
	top: 60px;
	right: 70px;
}
#treeRight2 {
	background: url(../images/terrain2/tree-1.png) repeat;
	background-size: auto 100%;
	width: 25%;
	height: 80px;
	top: 120px;
	right: 46px;
}
#treeRight3 {
	background: url(../images/terrain1/tree.png) repeat;
	background-size: auto 100%;
	width: 55px;
	height: 70px;
	top: 400px;
	right: 400px;
}

#treeFooterRight {
	background: url(../images/terrain2/tree-1.png) repeat;
	background-size: auto 100%;
	width: 37%;
	height: 70px;
	top: 1440px;
	right: 64px;
}

.treeBorder{
	position: absolute;
	z-index: 56;
}

/* Small palm trees*/
#sm-palm-left1 {
	background: url(../images/terrain2/rf-smallpalm.png) ;
	background-size: auto 100%;
	width: 75px;
	height: 120px;
	top: 300px;
	left: 300px;
}
#sm-palm-left2 {
	background: url(../images/terrain2/rf-smallpalm.png) ;
	background-size: auto 100%;
	width: 150px;
	height: 120px;
	top: 800px;
	left: 70px;
}
#sm-palm-left3 {
	background: url(../images/terrain2/rf-smallpalm.png) ;
	background-size: auto 100%;
	width: 150px;
	height: 120px;
	top: 1000px;
	left: 390px;
}
#sm-palm-left4 {
	background: url(../images/terrain2/rf-smallpalm.png) ;
	background-size: auto 100%;
	width: 75px;
	height: 120px;
	top: 1300px;
	left: 300px;
}
#sm-palm-right1 {
	background: url(../images/terrain2/rf-smallpalm.png) ;
	background-size: auto 100%;
	width: 150px;
	height: 120px;
	top: 700px;
	right: 270px;
}
#sm-palm-right2 {
	background: url(../images/terrain2/rf-smallpalm.png) ;
	background-size: auto 100%;
	width: 150px;
	height: 120px;
	top: 200px;
	right: 70px;
}
#sm-palm-right3 {
	background: url(../images/terrain2/rf-smallpalm.png) ;
	background-size: auto 100%;
	width: 75px;
	height: 120px;
	top: 1050px;
	right: 100px;
}
#sm-palm-right4 {
	background: url(../images/terrain2/rf-smallpalm.png) ;
	background-size: auto 100%;
	width: 75px;
	height: 120px;
	top: 1250px;
	right: 400px;
}


/* Path in middle */
#path {
	background: url(../images/terrain2/rf-path-middle.png);
	background-size: 100%;
	width: 200px;
	height: 100%;			
	top: 0;
	z-index: 200;
	left: 50%;
	margin: 0 0 0 -100px;			
}

/* Rocks Objects */
/*#rock1 {
	background: url(../images/terrain1/rock1.png) repeat;
	background-size: 100%;
	width: 35px;
	height: 600px;
	top: 200px;
	left: 300px;
}
#rock2 {
	background: url(../images/terrain1/rock1.png) repeat;
	background-size: 100%;
	width: 35px;
	height: 300px;
	top: 400px;
	left: 200px;
}
#rock3 {
	background: url(../images/terrain1/rock1.png) repeat;
	background-size: 100%;
	width: 35px;
	height: 600px;
	top: 200px;
	right: 300px;
}

#rock4 {
	background: url(../images/terrain1/rock1.png) repeat;
	background-size: 100%;
	width: 35px;
	height: 600px;
	top: 600px;
	right: 400px;
}*/

/* Long Grass Objects */
#longGrassright1{
	background: url(../images/terrain2/rf-grass.png) repeat;
	background-size: 50% auto;
	width: 150px;
	height: 110px;
	top: 450px;
	right: 80px;
	z-index: 20;
}

#longGrassright2{
	background: url(../images/terrain2/rf-grass.png) repeat;
	background-size: 50% auto;
	width: 150px;
	height: 110px;
	top: 1000px;
	right: 400px;
	z-index: 20;
}
#longGrassleft1{
	background: url(../images/terrain2/rf-grass.png) repeat;
	background-size: 50% auto;
	width: 150px;
	height: 110px;
	top: 700px;
	left: 350px;
	z-index: 20;
}

#longGrassleft2{
	background: url(../images/terrain2/rf-grass.png) repeat;
	background-size: 50% auto;
	width: 150px;
	height: 110px;
	top: 1000px;
	left: 120px;
	z-index: 20;
}

/* Pond Objects */
#pond1{
	background: url(../images/terrain2/rf-pond.png) repeat;
	background-size: auto 100%;
	width: 180px;
	height: 180px;
	top: 430px;
	left: 100px;
}
#pond2{
	background: url(../images/terrain2/rf-pond.png) repeat;
	background-size: auto 100%;
	width: 180px;
	height: 180px;
	top: 1200px;
	left: 150px;
}
#pond3{
	background: url(../images/terrain2/rf-pond.png) repeat;
	background-size: auto 100%;
	width: 180px;
	height: 180px;
	top: 800px;
	right: 100px;
}

/* Ocean Objects */
.ocean {
	position: absolute;
	left: 0;
	background: url(../images/sea.png) repeat;
	width: 100%;
	z-index: 201;
}

#endOcean {
	bottom: 0;
	height: 100px;
	-webkit-animation: seamove 6s linear infinite;
	-moz-animation: seamove 6s linear infinite;
	animation: seamove 6s linear infinite;
}

#endOcean::after {
	position: absolute;
	top: 0px;
	left: 0;
	background: url(../images/seaStart.png) repeat center bottom;
	height: 9px;
	width: 100%;
	z-index: 202;
	content: "";
	box-shadow: 0 4px 3px rgba(0,0,0,0.3);
}